#loginTitle {
    margin: 0;
    margin-top: 2em;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: rgb(51, 102, 204);
    font-size: 3em;
}

#loginSub {
    margin: 0;
    margin-top: 1em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(78, 78, 78);
    font-size: 1.25em;
    font-weight: lighter;
}

.lr_form {
    margin: 0 auto;
    width: 20em;
}

.lr_form .lr_form_group {
    margin-bottom: 1em;
}

.lr_form h4 {
    margin: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    color: rgb(51, 102, 204);
    font-size: 1.25em;
}

.lr_form h4 span {
    color: red;
    font-weight: 300;
    font-size: small;
    vertical-align: top;
}

.lr_form div {
    margin-top: .5em;
    width: 100%;
    display: inline-block;
}

.lr_form div * {
    width: 100%;
}

.lr_form div input {
    margin: 0;
    height: 10px;
    border-radius: 0;
    border: 1px solid grey;
    outline: none;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    width: calc(100% - 1em);
}

.lr_form div input:focus {
    border: 2px solid rgb(51, 102, 204);
}

.lr_form div .hasMore {
    margin-bottom: 1em;
}

.lr_form select {
    outline: none;
    height: 30px;
}

.lr_form select:focus {
    border: 2px solid rgb(51, 102, 204); 
}

.lr_form .submit {
    border: 0;
    padding: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    opacity: .8;
    background: rgb(102, 153, 255);
    color: white;
    border-radius: 5em;
    cursor: pointer;
    transition: .3s;
    margin-bottom: 1em;
}

.lr_form .submit:hover {
    opacity: 1;
}

.formError {
    color: red;
}