@import url('https://fonts.googleapis.com/css2?family=Overlock:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

nav {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;

    border-bottom: 2px solid rgb(230, 230, 230);

    background: white;
    z-index: 10;
}

nav h2 {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2em;

    color: rgb(51, 102, 204);
    font-family: 'Overlock', sans-serif;
    font-weight: 1000;
    font-size: 50px;
}

nav h2 a {
    text-decoration: none;
    color: rgb(51, 102, 204);
}

nav ul {
    position: absolute;
    right: 0;
    top: 22.5px;
    margin: 0;
    padding: 0;
    margin-right: 2em;
}

nav ul li {
    display: inline-block;
    margin: 0;
    padding: 10px;
    margin-right: .1em;
}

nav ul li a {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    color: rgb(78, 78, 78);
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    border-right: 1px solid rgb(200, 200, 200);
}

nav ul li a:hover {
    text-decoration: underline;
}

nav ul li:last-child a {
    background: rgb(102, 153, 255);
    color: white;
    border-radius: 5em;
    border-right: 0px solid rgb(200, 200, 200);
    transition: .4s; 
}

nav ul li button {
    background: none;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: bolder;
    cursor: pointer;
}

nav ul li button:hover {
    text-decoration: underline;
}